@model List<Customer>;
@{
    ViewData["Title"] = "Customer Manager";
}

<h2 class="mb-3">Customer Manager</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
                <tr>
                    <td>@customer.FirstName @customer.LastName</td>
                    <td>@customer.EmailAddress</td>
                    <td>@customer.City</td>
                    <td class="text-center"><a class="btn btn-primary" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerId" asp-route-slug="@customer.Slug">Edit</a></td>
                <td class="text-center"><a class="btn btn-primary" asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.CustomerId" asp-route-slug="@customer.Slug">Delete</a></td>
                </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Add">Add Customer</a>
</div>
