@model List<Technician>;
@{
    ViewData["Title"] = "Technician Manager";
}

<h2 class="mb-3">Technician Manager</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var technician in Model)
        {
                <tr>
                    <td>@technician.TechnicianName</td>
                    <td>@technician.TechnicianEmail</td>
                    <td>@technician.TechnicianPhone</td>
                    <td class="text-center"><a class="btn btn-primary" asp-controller="Technician" asp-action="Edit" asp-route-id="@technician.TechnicianId" asp-route-slug="@technician.Slug">Edit</a></td>
                    <td class="text-center"><a class="btn btn-primary" asp-controller="Technician" asp-action="Delete" asp-route-id="@technician.TechnicianId" asp-route-slug="@technician.Slug">Delete</a></td>
                </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-controller="Technician" asp-action="Add">Add Technician</a>
</div>
