@model IncidentAddEditViewModel
@{
	string title = Model.Action + " Incident";
	ViewData["Title"] = title;
}

<h2 class="mb-3">@Model.Action Incident</h2>

<div class="col-md-6 col-lg-4">
	<form asp-action="Edit" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="mb-3">
			<label asp-for="@Model.Incident.CustomerId" class="form-label">Customer</label>
			<select asp-for="@Model.Incident.CustomerId" class="form-select" asp-items="@(new SelectList(Model.Customers, "CustomerId", "FullName"))">
				<option value="">select a customer</option>
			</select>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Incident.ProductId" class="form-label">Product</label>
			<select asp-for="@Model.Incident.ProductId" class="form-select" asp-items="@(new SelectList(Model.Products, "ProductId", "ProductName"))">
				<option value="">select a product</option>
			</select>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Incident.Title" class="form-label">Title</label>
			<input asp-for="@Model.Incident.Title" class="form-control" />
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Incident.Description" class="form-label">Description</label>
			<textarea asp-for="@Model.Incident.Description" class="form-control"><</textarea>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Incident.TechnicianId" class="form-label">Technician</label>
			<select asp-for="@Model.Incident.TechnicianId" class="form-select" asp-items="@(new SelectList(Model.Technicians, "TechnicianId", "TechnicianName"))">
				<option value="">select a technician</option>
			</select>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Incident.DateOpened" class="form-label">Date Opened</label>
			<input asp-for="@Model.Incident.DateOpened" class="form-control" />
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Incident.DateClosed" class="form-label">Date Closed</label>
			<input asp-for="@Model.Incident.DateClosed" class="form-control" />
		</div>

		<input type="hidden" asp-for="@Model.Incident.IncidentId" />

		<button type="submit" class="btn btn-primary">Save</button>
		<a asp-controller="Incident" asp-action="List" class="btn btn-secondary">Cancel</a>
	</form>
</div>
